$blue: #056ef0;
$column: 200px;
$rgbaTest: rgba(0, 0, 0, 0.5);

/* Testing autoprefixer */
 
.autoprefixer {
  display: flex;
}

p {
  color: $blue;
}

a {
  color: color(red alpha(-10%));
}

a:hover {
  color: color(red blackness(80%));
}
 
/* Testing precss */
 
.precss {
  @if 3 < 5 {
    background: green;
  }
  @else {
    background: blue;
  }
}

.block {
  position: relative;
  .block__element {
    position: relative;;
  }
  .block--modifier {
    position: absolute;;
  }
}

/* British English Spiffing */

.allo-allo {
  colour: #000;
  text-align: centre;
  font-weight: plump;
  text-transform: capitalise;
} 

/* Oldie */

.figure {
  opacity: 0.5;
  colour: $rgbaTest;
}

/* PostCSS API */

.font {
  font-family: Arial;
}