/* Testing autoprefixer */
 
.autoprefixer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
 
a {
  color: rgba(255, 0, 0, 0.9);
}

  a:hover {
    color: rgb(51, 0, 0);
  }
 
/* Testing precss */
 
.precss {
  background: green
}